.calendar-container {
    margin-top: 30px;
    text-align: center;
    display: grid;
    height: 60vh;
    width: 70%;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.calendar-container div{
    border-style: solid;
    border-width: 1px;
    border-color: black;
    border-radius: 3px;
}

.timeSlot {
    background-color: teal;
}

#th2, #th3, #th4, #th5, #th6 {
    background-color: cyan;
}

#M1030, #M1130, #M1430, #T830, #T930, #T1230, #W1030, #W1130, #W230, #Th1230, #Th1330, #Th1430, #F830, #F930,  #F1230   {
    background-color: lightgoldenrodyellow;
}

#M830, #M930, #M1230, #M1330, #T1030, #T1130, #W830, #W930, #W1230, #W1330, #Th830, #Th930, #Th1030, #Th1130, #F1030,  #F1130   {
    background-color: purple;
}

#nightM, #nightT, #nightW, #nightTh, #nightF {
    background-color: red;
}

table, th, td {
    border: 1px solid;
    border-collapse: collapse;
    padding-right: 3px;
    padding-left: 3px;
}