/* body {
    border: 1px solid;
} */

#greeting-container {

}
#updatedCalendar {
    padding: 0;
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#time-table {
    height: 60%;
    width: 90%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(11, 1fr);
    background-color: aliceblue;
    grid-auto-flow: column;
    border-collapse: collapse;
    /* border: 1px solid black; */
    
}

.table {
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}

#days {
    grid-row: 1;
    grid-column-start: 2;
    grid-column-end: 7;
    background-color: rgba(236, 227, 227, 0.648);
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.times {
    background-color: rgba(236, 227, 227, 0.648);
}

.school {
    background-color: rgba(162, 153, 153, 0.648);
}

.study {
    background-color: rgb(231, 171, 81);
    cursor: pointer;
}

.studyDone {
   text-decoration: line-through;
    cursor: pointer;
}

.night {
    background-color: rgb(255, 255, 255);
}

.nightExceed {
    background-color: rgb(255, 67, 67);
}