body {
    padding: 0;
    /* border: 1px solid black; */
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#time-table {
    height: 60vh;
    width: 90vw;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(11, 1fr);
    background-color: aliceblue;
    grid-auto-flow: column;
    border-collapse: collapse;
    border: 1px solid black;

}

.table {
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;

}

#days {
    grid-row: 1;
    grid-column-start: 2;
    grid-column-end: 7;
    background-color: rgb(23, 152, 207);
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.times {
    background-color: rgba(18, 203, 129, 0.648);
}

.school {
    background-color: rgb(24, 180, 115);
}