.nav-item {
    display: flex;
}

.btn-outline-success {
    border-color: lightslategray;
    color: lightslategray;
}

.btn-outline-success:hover {
    background-color: lightsteelblue;
    border-color: lightsteelblue;
}

.nav-background {
    background-color: aliceblue;
}

.logo {
    margin-right: 10px;

}

.icon {
    width: 28px;
    height: 28px;
    margin-top: 5px;
    margin-right: 15px;
}

.responsive {
    width: 100%;
    height: auto;
}