.nav-item {
    display: flex;
}

.btn-outline-success {
    border-color: lightslategray;
    color: lightslategray;
}

.btn-outline-success:hover {
    background-color: lightsteelblue;
    border-color: lightsteelblue;
}

.nav-background {
    background-color: aliceblue;
}

.logo {
    margin-right: 10px;
}

.icon {
    width: 28px;
    height: 28px;
    margin-top: 5px;
    margin-right: 15px;
}

.responsive {
    width: 100%;
    height: auto;
}

/*main page*/
@media only screen and (max-width: 700px) {
    .container-week, .current-month-days {
        max-width: 700px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(auto-fill, 70px);

    }
}

/*main page*/
.container-week, .current-month-days {
    max-width: 500px;
    display: grid;
    grid-template-columns: repeat(auto-fill, 70px);
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.container-week {
    font-weight: bold;
}

.current-month {
    max-width: 500px;
    text-align: center;
    font-weight: bold;
}



.days {
    margin-top: 20px;
    margin-bottom: 20px;
    color: black;
    text-decoration: none;


}

.days:hover span {

    background: lightgrey;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    display: inline-block;
    line-height: 25px;
}

.select-day span {

    color: white;
    font-weight: bold;
    background: steelblue;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    display: inline-block;
    line-height: 25px;

}

.previous-month-days {
    color: lightgrey;
}

.btn-log-in {
    display: flex;
    margin: 0 auto;
    width: 60%;
    text-decoration: none;
    color: steelblue;
    border: 1px solid;
    border-radius: 9999px;
    padding: 10px;
    margin-bottom: 10px;
    font-weight: bold;
    justify-content: center;

}

.btn-create-account {
    display: flex;
    margin: 0 auto;
    width: 60%;
    color: white;
    text-decoration: none;
    background-color: steelblue;
    border: 1px solid;
    border-radius: 9999px;
    padding: 10px;
    text-align: center;
    font-weight: bold;
    justify-content: center;

}

.nav-link {
    padding: 5px;
}

.flex-basis {
    text-align: center;
}


.container-align-right .navbar-nav {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
}


/*dropdown button*/
.dropbtn {
    background-color: steelblue;
    color: white;
    padding: 8px 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    margin-bottom: 1rem;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: steelblue;
}

.dropdown {
    float: right;
    position: relative;
  

}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 180px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    right: 0;
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 8px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {
    background-color: #ddd;
}

.show {
    display: block;
}

.event-type {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.event-placeholder {

    margin: 15px 0;

}

.event-time {
    background-color: aliceblue;
    border-radius: 5px;
    padding: 10px;
}